{% extends "base.html" %} {% block content %} {% load static %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1 class="display-4">Seja bem vindo ao Tinder!</h1>
                <p class="lead"> A diversão esta apenas começando...</p>
                <hr class="my-4">
                <p>Se voce esta a procura do amor da sua vida ou apenas uma amizade colorida esta no lugar certo.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}